.vertical-align {
    display: flex;
    align-items: center;
}

.panel {
    margin-top: @panel-body-padding;
    margin-bottom: @panel-body-padding;
    &-footer {
        font-size: @font-size-small;
        .fa {
            padding-right: @panel-body-padding/4;
            &-twitter {
                padding-right: 0;
            }
        }
    }
}

.information {
    .row;
}

a {
    text-decoration: none !important;
}

h1 {
    margin: 0 0 @panel-body-padding 0;
    padding: 0;
    small {
        color: #404040;
    }
}

sup {
    color: @brand-primary;
}

blockquote {
    margin: @panel-body-padding 0 0 0;
    span {
        color: @brand-primary;
    }
}

.tags {
    margin-top: @panel-body-padding;
    .label {
        text-transform: lowercase;
    }
}

@media (min-width: @screen-sm-min) {
    .canvas {
        .vertical-align;
        min-height: 100%;
        min-height: 100vh;
    }
    .information {
        .vertical-align;
    }
    blockquote {
        .blockquote-reverse;
        margin-top: 0;
    }
}
