	<div class="landingpage remove-p-margin">
		<div class="row">
			<div class="five columns">
				<section id="avatar">
					<img class="avatar" src="{{.Site.Params.avatar}}">
				</section>
			</div>
			<div class="seven columns">
			<div class="autocenter">
				<section id="bio">
					<h3>{{ .Site.Params.author }}</h3>
					<p class="reset-margin">{{ .Site.Params.bio | markdownify }}</p>
				</section>
				<section id="contact">
					<div class="icons">
					<h3>
						{{ with .Site.Params.contact.blog }}<a class="icon" href="{{ . }}">
							<i class="fas fa-rss-square" aria-hidden="true"></i>
						</a>{{ end }}
						{{ with .Site.Params.contact.github }}<a class="icon" href="{{ . }}">
							<i class="fab fa-github-square" aria-hidden="true"></i>
						</a>{{ end }}
						{{ with .Site.Params.contact.twitter }}<a class="icon" href="{{ . }}">
							<i class="fab fa-twitter-square" aria-hidden="true"></i>
						</a>{{ end }}
						{{ with .Site.Params.contact.xing }}<a class="icon" href="{{ . }}">
							<i class="fab fa-xing-square" aria-hidden="true"></i>
						</a>{{ end }}
					</h3>
					</div>
				</section>
			</div>
			</div>
		</div>
	</div>
