<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Marcel Kraus &middot; Webentwickler und IT-Dienstleister aus Erftstadt bei Köln</title>
    <meta name="author" content="Marcel Kraus, Erftstadt (www.marcelkraus.de)">
    <meta name="copyright" content="Marcel Kraus, Erftstadt (www.marcelkraus.de)">
    <meta name="language" content="de" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Getreu meinem Motto &quot;Stay hungry, stay foolish&quot; ist der Beruf des Webentwicklers und IT-Dienstleisters seit mehr als zwölf Jahren gleichermaßen meine Berufung und Leidenschaft.">
    <link rel="stylesheet" href="css/app.min.css"/>
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css"/>
    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="components/html5shiv/dist/html5shiv.min.js"></script>
    <script type="text/javascript" src="components/respond/dest/respond.min.js"></script>
    <![endif]-->
    {% if (app.debug == false) %}
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-12561257-13', 'auto');
            ga('set', 'anonymizeIp', true);
            ga('send', 'pageview');
        </script>
    {% endif %}
</head>
<body>
<div class="canvas">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1 class="title">
                            Marcel Kraus <sup>■</sup><br/>
                            <small>Webentwickler und IT-Dienstleister</small>
                        </h1>
                        <div class="information">
                            <div class="col-xs-12 col-sm-6">
                                <p>
                                    Dreikönigenweg 8a<br/>
                                    D-50374 Erftstadt<br/>
                                </p>
                                <p>
                                    +49 2235 8401372<br/>
                                    mail (at) marcelkraus.de
                                </p>
                                <div class="tags">
                                    <span class="label label-default">#Webentwicklung</span>
                                    <span class="label label-default">#PHP5</span>
                                    <span class="label label-default">#MySQL</span>
                                    <span class="label label-default">#OOP</span>
                                    <span class="label label-default">#Symfony</span>
                                    <span class="label label-default">#Silex</span>
                                    <span class="label label-default">#Doctrine</span>
                                    <span class="label label-default">#Projektmanagement</span>
                                    <span class="label label-default">#PRINCE2</span>
                                    <span class="label label-default">#Versionsmanagement</span>
                                    <span class="label label-default">#SCRUM</span>
                                    <span class="label label-default">#Git</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <blockquote>
                                                <p>
                                                    Stay <span>hungry</span>,<br/>
                                                    stay <span>foolish</span>.
                                                </p>
                                                <footer>Steve Jobs</footer>
                                            </blockquote>
                                        </div>
                                        <div class="item">
                                            <blockquote>
                                                <p>
                                                    <span>Simplicity</span> is the<br/>
                                                    ultimate <span>sophistication</span>.
                                                </p>
                                                <footer>Leonardo da Vinci</footer>
                                            </blockquote>
                                        </div>
                                        <div class="item">
                                            <blockquote>
                                                <p>
                                                    The <span>best ideas</span> start<br/>
                                                    as <span>conversations</span>.
                                                </p>
                                                <footer>Jony Ive</footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="docs/kurzprofil_marcel-kraus.pdf" title="Kurzprofil von Marcel Kraus im PDF-Format herunterladen" target="_blank"><i class="fa fa-download"></i>Kurzprofil</a>
                            </div>
                            <div class="col-xs-6 text-right">
                                <a href="https://www.xing.com/profile/Marcel_Kraus2" title="Marcel Kraus bei XING"><i class="fa fa-xing"></i></a>
                                <a href="https://www.facebook.com/kraus.marcel" title="Marcel Kraus bei Facebook"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/marcelkraus" title="Marcel Kraus bei Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="https://github.com/marcelkraus" title="Marcel Kraus bei GitHub"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.carousel').carousel({
            intervall: 8000,
        });
    });
</script>
</body>
</html>
