RewriteEngine on

RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*)$ https://www.marcelkraus.de/$1 [R=301,L]

RewriteCond %{HTTP_HOST} !^www\.marcelkraus\.de$ [NC]
RewriteRule ^/?(.*)$ https://www.marcelkraus.de/$1 [R=301,L]
